doctype html
html
    head
        title Swingletree
        link(rel="stylesheet" href=basePath("static/css/main.css"))

        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" integrity="sha256-zmfNZmXoNWBMemUOo1XUGFfc0ihGGLYdgtJS3KCr/l0=" crossorigin="anonymous")

        link(rel="apple-touch-icon" sizes="180x180" href=basePath("static/icon/apple-touch-icon.png"))
        link(rel="icon" type="image/png" sizes="32x32" href=basePath("static/icon/favicon-32x32.png"))
        link(rel="icon" type="image/png" sizes="16x16" href=basePath("static/icon/favicon-16x16.png"))
        link(rel="manifest" href=basePath("static/icon/site.webmanifest"))
        link(rel="mask-icon" href=basePath("static/icon/safari-pinned-tab.svg") color="#5bbad5")
        link(rel="shortcut icon" href=basePath("static/icon/favicon.ico"))
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="msapplication-config" content=basePath("static/icon/browserconfig.xml"))
        meta(name="theme-color" content="#ffffff")

        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

        script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js", integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o", crossorigin="anonymous")

        script(src=basePath("modules/jdenticon/jdenticon.min.js") async)
        script(src=basePath("static/js/base.js"))

    body
        nav(class="navbar navbar-dark bg-secondary-light navbar-expand-md fixed-top")
            a(class="navbar-brand mr-3" href=basePath(""))
                img(src=basePath("static/icon.svg") width="30" height="30" class="mr-2 d-inline-block align-top" alt="")
                .
                    Swingletree

            button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon

            div.collapse.navbar-collapse(id="navbarToggle")
                ul(class="navbar-nav mr-auto")
                    if isBuildHistoryEnabled
                        li.nav-item
                            a(class=`nav-link ${path.endsWith('/builds/') ? 'active' : '' }` href=basePath("builds/"))
                                i.fas.fa-fw.fa-list
                                span.pl-1 Builds

                
                ul(class="navbar-nav")
                    if appPublicPage
                        li.nav-item
                            a(class="nav-link" href=appPublicPage + "/installations/new")
                                i(class="fas fa-fw mr-1 fa-plus")
                                .
                                    Install
                ul(class="navbar-nav")
                    li.nav-item
                        a(class="nav-link" href="https://swingletree-oss.github.io/swingletree/docs/home")
                            i(class="fa-fw mr-1 far fa-question-circle")
                            .
                                Help


        div.container-fluid.page-content
            block content
