extends base

block content
  div.row
    div.col-md-8
      h3=`Builds for ${owner}`
    
  div.row
    div.col-12
      each report, index in data[0].hits.hits
        - var item = report._source;

        div.card.mb-2
          div.card-body
            div.col-4
              span=item.source.sha  
              span=item.title

            div(style="position: absolute; top:0px;right:5px")
              span(class="badge badge-light mr-2")=item.sender
              case item.checkStatus
                when "passed"
                  span(class="badge badge-info") #{ item.checkStatus }
                when "undecisive"
                  span(class="badge badge-dark") #{ item.checkStatus }
                when "blocked"
                  span(class="badge badge-danger") #{ item.checkStatus }
                when "analysis_failure"
                  span(class="badge badge-warning") #{ item.checkStatus }